* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}
a{
    text-decoration: none;
}
a img {
    border: none;
}
  
button,
a {
    cursor: pointer;
    color: inherit;
}
  
textarea {
    resize: none;
}
  
button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}
  
/*CSS RESET OVER*/

:root {
    --bg-main: #370617;
    --bg-secondary: #f48c06;
    --bg-secondary-darker: #E85D04;
    --bg-secondary-darkest: #DC2F02;
    --transition-speed : all 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-main);
}

/* SCROLL BAR RE-STYLING */

body::-webkit-scrollbar,
.highlight-container::-webkit-scrollbar {
    width: 15px;
}
  
body::-webkit-scrollbar-track,
.highlight-container::-webkit-scrollbar-track {
    background: var(--bg-main);
}
  
body::-webkit-scrollbar-thumb,
.highlight-container::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
}

.change-overflow {
    overflow: hidden;
}

/* NAVBAR */

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 5rem;
    height: 100vh;
    background-color: var(--bg-secondary);
    overflow: hidden;
    transition: var(--transition-speed);
}

.navbar:hover {
    width: 12rem;
}

.navbar:hover .nav-list a {
    width: 12rem;
}

.navbar:hover .nav-list a span {
    position: unset;
    right: unset;
    opacity: 1;
}

.nav-list .home i {
    transition: var(--transition-speed);
}

.navbar:hover .nav-list .home i {
    transform: rotate(-180deg);
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-list a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    width: 5rem;
    transition: var(--transition-speed);
}

.nav-list a:hover {
    background-color: var(--bg-secondary-darker);
}

.nav-list .home:hover {
    background-color: var(--bg-secondary-darkest);
}


.nav-list a i {
    font-size: 35px;
    color: var(--bg-main);
}

.nav-list .home {
    background-color: var(--bg-secondary-darker);
}

.nav-list a span {
    position: absolute;
    left: -500px;
    opacity: 0;
    transition: var(--transition-speed);
}

.fa-crown {
    font-size: 30px !important;
}


/* WELCOME */

.welcome-section {
    height: 100vh;
    justify-content: center;
}

.welcome-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-secondary);
}

.welcome-section div h1 {
    color: var(--bg-main);
}

.welcome-section div p {
    font-size: 30px;
    font-style: italic;
}



/* CONTAINER AND CARDS */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 5rem;
}

.container h1 {
    padding: 20px;
    font-size: 60px;
    color: var(--bg-secondary);
}

.beer-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.beer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 20px;
    width: 100%;
    background-color: var(--bg-secondary);
    color: var(--bg-main);
    /* box-shadow: 0 0 10px #370617; */
    cursor: pointer;
    transition: all 0.2s;
}

.beer-card * {
    pointer-events: none;
}

.beer-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--bg-secondary);
    backdrop-filter: blur(20px) contrast(40%);
}



/* HIGHLIGHTING CARDS */


.highlight-overlay,
.message-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f48d06c9;
}

.highlight-container,
.message-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    max-height: 90vh;
    max-width: 1200px;
    padding: 40px;
    background-color: var(--bg-main);
    color: var(--bg-secondary);
    overflow: auto;
}

.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 40px;
    background-color: var(--bg-main);
    color: var(--bg-secondary);
}

.star-meme {
    width: 500px;
    object-fit: cover;
}

.btn-style {
    width: 120px;
    height: 30px;
    background: linear-gradient( var(--bg-secondary) 0%, var(--bg-secondary-darkest) 100%);
    color: var(--bg-main);
    font-size: 16px;
}

.input-style {
    padding: 5px 10px;
    color: var(--bg-main);
    font-size: 18px;
    font-weight: 500;
    background-color: var(--bg-secondary);
}

/* CARD GENERAL INFO */

.card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-right: 1px solid var(--bg-secondary);
}


/* RATE-AND-COMMENTS DIV */

.rate-and-comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}


/* STAR SYSTEM */

.highlight-container input[name="stars"] {
    appearance: none;
}
.rate-stars {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
    transform: rotateY(180deg);
}

.rate-stars .star {
    color: var(--bg-main);
    cursor: pointer;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--bg-secondary);
    transition: 0.3s;
}

.rate-stars input[name="stars"]:checked ~ label .star,
.rate-stars input[name="stars"]:hover ~ label .star {
    color: var(--bg-secondary);
}

.rate-stars .avg-rating {
    padding-left: 5px;
    font-size: 20px;
    transform: rotateY(-180deg);
}

/* COMMENTS SECTION */


.comment-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-section .form-comment {
    position: relative;
    display: grid;
    gap: 10px;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "text-comment text-comment text-comment"
    "name avatar send-btn"
    ;
}


.form-comment .name-input {
    grid-area: name;
    width: 100%;
}
.form-comment .select-avatar {
    grid-area: avatar;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg-main);
}

.form-comment button {
    grid-area: send-btn;
    position: absolute;
    right: 0;
}



.form-comment textarea {
    grid-area: text-comment;
    min-width: 400px;
}
.form-comment textarea::placeholder,
.form-comment input::placeholder {
    color: var(--bg-main);
}


textarea::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}
  
textarea::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}
  
textarea::-webkit-scrollbar-thumb {
    background: var(--bg-main);
}

/* .comment-section .select-avatar option[value="male-1"] {
    background-image: url('./img-avatars/male-1.jpg');
    background-size: cover;
}
.comment-section .select-avatar option[value="male-2"] {
    background-image: url('./img-avatars/male-2.jpg');
}
.comment-section .select-avatar option[value="male-3"] {
    background-image: url('./img-avatars/male-3.jpg');
}
.comment-section .select-avatar option[value="female-1"] {
    background-image: url('./img-avatars/female-1.jpg');
}
.comment-section .select-avatar option[value="female-2"] {
    background-image: url('./img-avatars/female-2.jpg');
}
.comment-section .select-avatar option[value="female-3"] {
    background-image: url('./img-avatars/female-3.jpg');
} */

.comment-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.comment-container .comment {
    display: grid;
    grid-template-columns: 150px 1fr;
    padding: 10px;
    color: var(--bg-main);
    font-size: 18px;
    font-weight: 500;
    background-color: var(--bg-secondary);
}

.comment .comment-text {
    padding: 5px;
}

.commenter-info {
    padding: 5px;
    border-right: 1px solid var(--bg-main);
}

.commenter-info h3,
.commenter-info h4 {
    display: inline-block;
}



.comment-section .separator {
    height: 1px;
    background-color: var(--bg-secondary);
}


/* MEDIA QUERY FOR SMALL SCREEN */

@media screen and (max-width: 800px) {
    .container {
        padding: 20px;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        transition: all 0.03ms;
        z-index: 20;
    }

    .navbar:hover {
        width: 100vw;
    }

    .nav-list {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list .home {
        display: none;
    }

    .navbar:hover .nav-list a {
        width: 5rem;
    }

    .nav-list a span {
        display: none;
    }

    .beer-card:hover {
        transform: scale(1.05);
    }
}
